table{
    border: 1px solid #cccccc;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
table caption{
    margin-bottom: 15px;
}
table tr,td{
    border: 1px solid #cccccc;
}
table tr td{
    width: 11%;
} 
table tr{
    height: 1%;
}